[submodule "include/omp-stdlib"]
	path = include/omp-stdlib
	url = https://github.com/openmultiplayer/omp-stdlib
[submodule "include/YSI-Includes"]
	path = include/YSI-Includes
	url = https://github.com/pawn-lang/YSI-Includes.git
[submodule "include/Map-Include"]
	path = include/Map-Include
	url = https://github.com/shierru/Map-Include
